<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="path">/Users/ming/alk/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" />
        </Console>

        <RollingRandomAccessFile name="exception"
                                 fileName="${path}/exception/exception.log" filePattern="${path}/exception/exception.log.%d{yyyy-MM-dd}.bak">
            <PatternLayout pattern="%msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="gold"
                                 fileName="${path}/res/res.log" filePattern="${path}/res/res.log.%d{yyyy-MM-dd}.bak">
            <PatternLayout pattern="%msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>
    <Loggers>

        <Logger name="com.igame.core.log.GoldLog"
                level="info" additivity="false">
            <AppenderRef ref="gold" />
        </Logger>


        <Logger name="com.igame.core.log.ExceptionLog"
                level="info" additivity="false">
            <AppenderRef ref="exception" />
        </Logger>



        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>


    </Loggers>
</Configuration>